/AnalisisEstadistico/bin
/AnalisisEstadistico/obj
/AnalisisEstadistico/AnalisisEstadistico.csproj
/AnalisisEstadistico/obj/Debug/TempPE
/AnalisisEstadistico/obj/Debug/edmxResourcesToEmbed
/AnalisisEstadistico.v11.suo
AnalisisEstadistico.v11.suo
